.time_view_replies{
    font-family:monospace;
    font-size: small;
}

.text_comment_nodes{
    height: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    display: inline-block
}

.li_comment_nodes{
    margin-bottom: 50px;
    margin-top: 50px;
    width: auto;
    height: auto;
}